NEXT_PUBLIC_RESEARCH_API_BASE_URL=http://127.0.0.1:8000
OPENCLAW_BRIDGE_MODE=mock
OPENCLAW_BRIDGE_URL=
OPENCLAW_BRIDGE_AUTH_TOKEN=
OPENCLAW_GATEWAY_WS_URL=ws://127.0.0.1:18789
OPENCLAW_GATEWAY_TOKEN=
OPENCLAW_GATEWAY_AGENT_ID=main
OPENCLAW_GATEWAY_SESSION_KEY=
OPENCLAW_GATEWAY_SESSION_KEY_PREFIX=research-lineage
OPENCLAW_GATEWAY_TIMEOUT_SECONDS=120
OPENCLAW_GATEWAY_SCOPES=operator.read,operator.write,operator.admin
OPENCLAW_GATEWAY_THINKING=
OPENCLAW_GATEWAY_MODEL=
